S3method(is_decimal,default)
S3method(is_decimal,factor)
S3method(is_decimal,numeric)
S3method(is_even,default)
S3method(is_even,factor)
S3method(is_even,matrix)
S3method(is_even,numeric)
S3method(is_integer,default)
S3method(is_integer,factor)
S3method(is_integer,numeric)
S3method(is_natural,default)
S3method(is_natural,factor)
S3method(is_natural,numeric)
S3method(is_negative,default)
S3method(is_negative,factor)
S3method(is_negative,matrix)
S3method(is_negative,numeric)
S3method(is_negative_decimal,default)
S3method(is_odd,default)
S3method(is_odd,factor)
S3method(is_odd,matrix)
S3method(is_odd,numeric)
S3method(is_positive,default)
S3method(is_positive,factor)
S3method(is_positive,matrix)
S3method(is_positive,numeric)
S3method(is_positive_decimal,default)
export(different_class)
export(different_dim)
export(different_length)
export(different_mode)
export(different_ncol)
export(different_nrow)
export(different_type)
export(has_Inf)
export(has_NA)
export(has_NaN)
export(has_colnames)
export(has_dim)
export(has_dimension)
export(has_dimnames)
export(has_factors)
export(has_infinite)
export(has_missing)
export(has_names)
export(has_nas)
export(has_not_a_number)
export(has_rownames)
export(is_FALSE)
export(is_TRUE)
export(is_class)
export(is_dataframe)
export(is_decimal)
export(is_diagonal)
export(is_even)
export(is_false)
export(is_integer)
export(is_logical_matrix)
export(is_logical_vector)
export(is_lower_triangular)
export(is_matrix)
export(is_multiple)
export(is_natural)
export(is_negative)
export(is_negative_decimal)
export(is_negative_integer)
export(is_not_dataframe)
export(is_not_decimal)
export(is_not_diagonal)
export(is_not_even)
export(is_not_integer)
export(is_not_matrix)
export(is_not_natural)
export(is_not_negative)
export(is_not_odd)
export(is_not_positive)
export(is_not_square_matrix)
export(is_not_string)
export(is_not_tabular)
export(is_not_vector)
export(is_numeric_dataframe)
export(is_numeric_matrix)
export(is_numeric_tabular)
export(is_numeric_vector)
export(is_odd)
export(is_one_dim)
export(is_positive)
export(is_positive_decimal)
export(is_positive_integer)
export(is_single)
export(is_single_even)
export(is_single_false)
export(is_single_logical)
export(is_single_negative)
export(is_single_negative_integer)
export(is_single_number)
export(is_single_odd)
export(is_single_positive)
export(is_single_positive_integer)
export(is_single_string)
export(is_single_true)
export(is_square_matrix)
export(is_string)
export(is_string_dataframe)
export(is_string_matrix)
export(is_string_tabular)
export(is_string_vector)
export(is_tabular)
export(is_triangular_matrix)
export(is_true)
export(is_upper_triangular)
export(is_vector)
export(lacks_colnames)
export(lacks_dim)
export(lacks_dimension)
export(lacks_dimnames)
export(lacks_names)
export(lacks_rownames)
export(list_of_logical_vectors)
export(list_of_numeric_vectors)
export(list_of_string_vectors)
export(list_of_vectors)
export(list_with_numeric_vectors)
export(list_with_string_vectors)
export(list_with_vectors)
export(same_class)
export(same_dim)
export(same_length)
export(same_mode)
export(same_ncol)
export(same_nrow)
export(same_type)
export(true_or_false)
